html, body{
height: 100%;
margin: 0;
}

body {
    margin: 0;
    font-family: 'Georgia', serif;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(6px); 
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #1f4e5f;
}

.logo-link {
    text-decoration: none;  
    display: inline-block;  
    color: inherit;         
}

.logo span {
  display: block;
  font-size: 10px;
  letter-spacing: 2px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #1f4e5f;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #0d2f3a;
}

.btn {
  padding: 10px 20px;
  background-color: #0d2f3a;
  color: white;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: 0.3s;
}
/*main body styling*/
body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: #ffffff;
    color: white;
}

/* SECTION */
.ig-section {
    text-align: center;
    padding: 60px 20px;
}

.ig-section h2 {
    font-size: 32px;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    color:#0c4a57;
}

.ig-section p {
    opacity: 0.7;
    margin-bottom: 30px;
    color:#0c4a57;
}

/* GRID */
.ig-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    gap: 15px;
    max-width: 1000px;
    margin: 5%;
    align-items: center;
}

/* POST */
.ig-post {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 12px;
}

.ig-post img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease;
}

/* HOVER EFFECT */
.ig-post:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s ease;
    font-size: 14px;
}

.ig-post:hover .overlay {
    opacity: 1;
}
/*Footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
  background-color: #0c4a57;
  color: white;
}

.footer-left {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.footer-left i {
  cursor: pointer;
  transition: 0.3s;
}

.footer-left i:hover {
  opacity: 0.7;
}

.footer-nav-links {
  display: flex;
  gap: 30px;
}

.footer-nav-links a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.footer-nav-links a:hover {
  opacity: 0.7;
}

.footer-contact a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}

.footer-contact a:hover {
  opacity: 0.7;
}